h1{
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px red;
  
}
.box{

  border: 1px solid black;
  margin-top: 10px;
  height: 60px;
  color: white;
  font-size: 30px;
  padding-top:12px;
  padding-left:40px ;
  margin-left: 50px;
  background-color:gray;
}
#input1{
  margin-left:35% ;
  height: 50px;
  width:500px;
  font-size: 30px;

}
body{
  background-color: lightgray;
}
@media (max-width :600px){

  #input1{
    margin-left: 12%;
    height: 50px;
    width: 284px;
    font-size: 30px;
}

.box {
  border: 1px solid black;
  margin-top: 10px;
  height: 60px;
  color: white;
  font-size: 30px;
  padding-top: 12px;
  padding-left: 40px;
  margin-left: 46px;
  width: 249px;
  background-color: black;
}
}